DB_SERVER={{ database_endpoint }}
DB_NAME={{ database_name }}
DB_USER={{ database_username }}
DB_PASSWD={{ vault_database_password }}
PS_INSTALL_AUTO=1
PS_DOMAIN={{ alb_dns_name }}
ADMIN_MAIL={{ prestashop_admin_email }}
ADMIN_PASSWD={{ vault_prestashop_admin_password }}
